#root {
  margin: auto auto;
  padding: 3rem;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.App-header {
  width: 800px;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
